body{

		 color:black;
         background-color:white;
         background-image:url('Graduated_Blue_Background.png');
         background-position:center center;
         background-position:no-repeat;
         
         
		
}
