<<<<<<< HEAD
body{

		 color:black;
         background-color:white;
         background-image:url('Graduated_Blue_Background.png');
         background-position:center center;
         background-position:no-repeat;
         
         
		
=======
body,div{
	

     		
>>>>>>> 0262e45c354cbd40251690d384955444b3d808dd
}
